body {
    background-color: rgbф(87, 185, 149, 0, 8);
    font-family: Arial, Helvetica, sans-serif;
    /* margin: auto; */
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
 
/* *,
*::before,
*::after {
    box-sizing: border-box;
} */

#container {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat( auto-fit, minmax(160px, 1fr) );
    padding: auto;
    border-radius: 8px;
    margin: 0 auto;
}


.card_product {
    display: grid;
    grid-row: auto;
    /* align-content: center; */
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
    background-color: #e2ebed;
    width: 155px;
    height: 190px;
}

.image_block {
    /* text-align: center; */
}

.counter {
    position: relative;
    top: 5px;
    left:0px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #ff0000;
    text-shadow: 2px 2px 8px rgb(255, 255, 255);
}

.card_title {
    display: block;
    text-align: center;
    margin: 8px auto;
    font-size: 18px;
    color: #000000;    
    /* background-color: #ffc904;  */
    border-radius: 6px;
    
}

.card_img {
    margin: 0 auto;
    padding: 5px;
    font-size: 16px;
    background-color: #adf3f4;
}

.increment,
.decrement,
.reset {
    height: 28px;
    width: 40px;
    padding: 0 auto;
    border-radius: 6px;
    font-size: 20px;  
    color: white;
    margin: 4px;
        /* transition-property: color, background-color, border-color;
    transition-timing-function: ease-in-out; */
    outline: none;
    cursor: pointer;
    transition-duration: 0.25s;
}
.increment {
    background-color: #009ef4;
    /* border: 2px solid #0000007b;    */
}
.decrement {
    background-color: #009ef4;
    /* border: 2px solid #0000007b; */
}

.reset {
    background-color: #2e8d46;
    border: 2px solid #2e8d46;
}



.btn_block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 6px;
    margin:  6px auto;
    text-align: center;
    align-items: center;
}

.btn_s {  
    margin: 10px;
    padding: 10px;
    font-size: 20px;  
    color: rgb(0, 166, 249);
    background-color: rgb(255, 255, 255);;
    border-radius: 6px;
    border-color: rgb(0, 166, 249);
    transition-property: color, background-color, border-color;
    transition-timing-function: ease-in-out;
    outline: none;
    cursor: pointer;
    transition-duration: 0.25s;
}
.btn_s:hover {   
    border-color: rgb(255, 255, 255);
    background-color: rgb(0, 166, 249);
    color: rgb(255, 255, 255); 
}

.btn:hover {
    border-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    color: black; 
}

.warning {
    background: #ff8800;
    /* margin: 5px; */

}
.danger {
    background: #ec0707;
    /* margin: 5px; */
}
.primary {
    background: #1459d8;
    /* margin: 5px; */
}

.success {
    background: #03f363f7;
    /* margin: 5px; */
}

/* ///////////////////////  shop cart/////////////////////////////////////// */

#shop {
    /* display: block; */
    text-align: center;
    margin: 0 auto;
}
